<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Music</title>
    <!--Page Icon-->
    <link rel="Icon" href="images/header-logo.png" type="image/png">
    <!-- Bootstrap Link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <!-- CSS Links -->
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/music.css">
  </head> 
  <body> 
    <header>
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <img src="images/header-logo.png" alt="Loading logo" class="logo">
            <h4>Monterde | Canones</h4>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                <a class="nav-link" href="/homepage">Home</a>
                <a class="nav-link" href="/profile">Profile</a>
                <a class="nav-link" href="/arithmetic-calc">Arithmetic Calculator</a>
                <a class="nav-link" href="/weather-app">Weather App</a>
                <a class="nav-link active" href="/music-app">Music App</a>
              </div>
            </div>
          </div>
        </nav>
      </header>
 
      <main>
        <div class="body-container">
          <div class="music-head">
            <div class="album-image">
              <iframe src="https://open.spotify.com/embed/track/1VdZ0vKfR5jneCmWIUAMxK" 
                frameborder="0" 
                allowtransparency="true" 
                allow="encrypted-media">
              </iframe>
            </div>
            <div class="description-link-container">
              <div class="music-description">
                <p><i>"Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex quidem earum tenetur impedit saepe expedita cumque culpa maiores laboriosam nisi! Minima exercitationem dignissimos enim sed reprehenderit adipisci ex harum eaque."</i></p>
              </div>
  
              <div class="music-link-container">
                <i class="bi bi-spotify me-3">Spotify</i>
                <i class="bi bi-instagram me-3">Instagram</i>
                <i class="bi bi-twitter me-3">Twitter</i>
                <i class="bi bi-facebook me-3">Facebook</i>
              </div>
            </div>
          </div>

          <div class="collection-container">
            <div class="music-collection">
              <div class="album-image">
                <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/530l1XggFTVKZIM3khE10r?utm_source=generator" 
                  frameBorder="0" 
                allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
              </div>
              <div class="music-description">
                <p><i>"A heartfelt track about the complexities of love and heartbreak, 'Lose' showcases Niki's powerful vocal delivery and reflective lyrics, creating a deeply emotional experience that resonates with anyone who's ever lost someone they love."</i></p>
              </div>
            </div>
          </div>

          <div class="collection-container">
            <div class="music-collection">
              <div class="album-image">
                <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/68HocO7fx9z0MgDU0ZPHro?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
              </div>
              <div class="music-description">
                <p><i>"Bright and nostalgic, 'Every Summertime' is a fun, upbeat love song that perfectly captures the carefree vibe of summer romance, with catchy melodies and soulful vocals from Niki."</i></p>
              </div>
            </div>
          </div>
            
          <div class="collection-container">
            <div class="music-collection">
              <div class="album-image">
                <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/6fPan2saHdFaIHuTSatORv?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
              </div>
              <div class="music-description">
                <p><i>
                  "In 'L'amore de Ma Vie,' Billie Eilish fuses tender lyrics with a haunting melody, exploring themes of love, self-discovery, and vulnerability in a deeply intimate and ethereal soundscape."
                </i></p>
              </div>
            </div>
          </div>
          
          <div class="collection-container">
            <div class="music-collection">
              <div class="album-image">
                <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/2qSkIjg1o9h3YT9RAgYN75?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
              </div>
              <div class="music-description">
                <p><i>
                  "With its playful energy and infectious rhythm, 'Expresso' by Sabrina Carpenter is a feel-good track that blends pop and R&B influences, delivering an upbeat ode to living in the moment."
                </i></p>
              </div>
            </div>
          </div>  

          <div class="collection-container">
            <div class="music-collection">
              <div class="album-image">
                <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/5N3hjp1WNayUPZrA8kJmJP?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
              </div>
              <div class="music-description">
                <p><i>
                  "'Please Please Please' is a vulnerable and emotional ballad that delves into the struggles of self-worth and the longing for acceptance, wrapped in Sabrina Carpenter's evocative vocals and intimate lyricism."
                </i></p>
              </div>
            </div>
          </div>  

          <div class="collection-container">
            <div class="music-collection">
              <div class="album-image">
                <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/43iIQbw5hx986dUEZbr3eN?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
              </div>
              <div class="music-description">
                <p><i>
                  "'From the Start' is a dreamy, jazz-infused track by Laufey that evokes feelings of sweet longing, blending poetic lyrics with lush instrumentals in a beautifully delicate love song."
                </i></p>
              </div>
            </div>
          </div>  

          <div class="collection-container">
            <div class="music-collection">
              <div class="album-image">
                <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/4KGGeE7RJsgLNZmnxGFlOj?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
              </div>
              <div class="music-description">
                <p><i>
                  "Laufey's 'Falling Behind' captures the bittersweet emotions of feeling out of sync with life and love, with tender lyrics and her signature jazz-inspired sound, offering a reflection on unrequited love and timing."
                </i></p>
              </div>
            </div>
          </div>
          
          <div class="collection-container">
            <div class="music-collection">
              <div class="album-image">
                <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/1NZs6n6hl8UuMaX0UC0YTz?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
              </div>
              <div class="music-description">
                <p><i>"A nostalgic anthem of indie cool, 'Brooklyn Baby' captures Lana Del Rey's ironic take on modern hipster culture with dreamy, laid-back instrumentals and witty lyrics."</i></p>
              </div>
            </div>
          </div>

          <div class="collection-container">
            <div class="music-collection">
              <div class="album-image">
                <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/5Y6nVaayzitvsD5F7nr3DV?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
              </div>
              <div class="music-description">
                <p><i>"With its hypnotic rhythms and sultry vocals, 'West Coast' shifts from a slow, beachy vibe to a smoky, pulsating chorus, reflecting the contrast between passion and detachment."</i></p>
              </div>
            </div>
          </div>

          <div class="collection-container"></div>
            <div class="music-collection">
              <div class="album-image">
                <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/4Ouhoi2lAhrLJKFzUqEzwl?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
              </div>
              <div class="music-description">
                <p><i>
                  "The cinematic and melancholic 'Born to Die' is a signature track of Lana Del Rey, offering a haunting exploration of love, despair, and fatalism, with orchestral elements and a timeless feel."
                </i></p>
              </div>
            </div>
          </div>

        </div>
      </main>

  <!-- Footer -->
  <footer class="text-center text-white" style="background-color: #212529">
    <!-- Grid container -->
    <div class="container">
      <!-- Section: Links -->
      <section class="mt-5">
        <!-- Grid row-->
        <div class="row text-center d-flex justify-content-center pt-5">
          <!-- Grid column -->
          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="/homepage" class="text-white"  >Home</a>
            </h6>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="/profile" class="text-white"  >Profile</a>
            </h6>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3">
            <h6 class="text-uppercase font-weight-bold">
              <a href="/arithmetic-calc" class="text-white"  >Arithmetic Calculator</a>
            </h6>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="/weather-app" class="text-white"  >Weather App</a>
            </h6>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="/music-app" class="text-white"  >Music App</a>
            </h6>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row-->
      </section>
      <!-- Section: Links -->

      <hr class="my-5" />

      <!-- Section: Text -->
      <section class="mb-5">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-8">
            <p>
              This application was created by Benji Canones & Vanessa Joyce Monterde with the guidance of Dr. Enrico Chavez. The application was created for the project fulfillment in System Integration and Architecture.
            </p>
          </div>
        </div>
      </section>
      <!-- Section: Text -->

      <!-- Section: Social -->
      <section class="text-center mb-5">
        <a href="https://www.facebook.com/benji.imperial" class="text-white me-4">
          <i class="bi bi-facebook"></i>
        </a>
        <a href="https://github.com/BenjiBenji20" class="text-white me-4">
          <i class="bi bi-github"></i>
        </a>
        <a href="https://www.linkedin.com/in/vanessa-joyce-monterde-4443b82b2/" class="text-white me-4">
          <i class="bi bi-linkedin"></i>
        </a>
        <a href="https://www.instagram.com/vaneeeezza//" class="text-white me-4">
          <i class="bi bi-instagram"></i>
        </a>
      </section>
      <!-- Section: Social -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div
         class="text-center p-3"
         style="background-color: rgba(0, 0, 0, 0.2)"
         >
      © 2020 Copyright:
      <a class="text-white" href="https://mdbootstrap.com/"
          >MDBootstrap.com</a>
         | 2024 Benji Canones & Vanessa Joyce Monterde
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
      

    <script src="javascripts/music.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
